<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>Student's Information View</title>
</head>
<body>
    <div class="top-bar">
        <h1>Student's Information View</h1>
    </div>
    <div class="view-table">
        <div class="row">
            <div class="column">
                <h2>ID</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Name</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Roll</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Father</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Address</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Phone</h2>
                <hr />
            </div>
</body>
</html>