<%-include('include/header')%>
<!-- Mainbody -->
<div class="box-nav d-flex-justify-between search-main"> 
    <a href="#" class="border-shadow searchBtn">
        <span class="text-gradient search-text">Search</span>
    </a>
    <input type="search" class="search">   
</div>
    <div class="view-table">
        <div class="row">
            <div class="column">
                <h2>ID</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Name</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Roll</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Father</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Address</h2>
                <hr />
            </div>
            <div class="column">
                <h2>Phone</h2>
                <hr />
            </div>
            </div>
    </div>
  
<%-include('include/footer')%>