<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Student's Information View'</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .top-bar {
            display: flex;
            width: 100%;
            background: #242424;
            height: 20%;
            color: #ff8823;
            align-items: center;
        }

        .top-bar h1 {
            font-size: 4vw;
        }
        .view-table
        {
            display:flex;

            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
        .view-table .row {
            display: flex;
            margin-top:5px;
            width: 100%;
            background-color: #d2fffe;
            justify-content: center;
        }
        .view-table .column
        {
            display:flex;
            width:100%;
            justify-content:space-between;
            border:0.5px solid #000000;
        }
    </style>
</head>
<body>
    <!-- Header section -->
    <header>
        <div class="top-bar">
            <h1>Student Information View</h1>
        </div>
    </header>